{% extends "base.html" %}
{% set titulo = "distribuidores" %}
{% block contenido %}

<h1 class="mb-4">Lista de distribuidores</h1>

<div class="card shadow">
    <div class="card-body">

        <table class="table table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Distribuidor</th>
                    <th>Medicamento</th>
                    <th>Costo</th>
                </tr>
            </thead>

            <tbody>
            {% for d in distribuidores %}
                <tr>
                    <td>{{ d[0] }}</td>
                    <td>{{ d[1] }}</td>
                    <td>${{ d[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
