{% extends "base.html" %}
{% set titulo = "Ventas por Fechas" %}
{% block contenido %}

<h1 class="mb-4">Consultar Ventas entre Fechas</h1>

<div class="card shadow mb-4">
    <div class="card-body">

        <form method="POST">

            <label class="form-label">Desde:</label>
            <input type="date" name="fecha1" class="form-control" required>

            <label class="form-label mt-3">Hasta:</label>
            <input type="date" name="fecha2" class="form-control" required>

            <button class="btn btn-primary mt-3">Buscar</button>

        </form>

    </div>
</div>


{% if ventas %}
<div class="card shadow">
    <div class="card-body">

        <h4 class="mb-3">Resultados</h4>

        <table class="table table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th>ID Venta</th>
                    <th>Total ($)</th>
                    <th>Fecha</th>
                </tr>
            </thead>

            <tbody>
            {% for v in ventas %}
                <tr>
                    <td>{{ v[0] }}</td>
                    <td>{{ v[1] }}</td>
                    <td>{{ v[2] }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
</div>
{% endif %}

{% endblock %}
